mixin item(item, character)
    div.item_container
        div.legible_text= item.name
        figure
            a(href=`/characters/${character.id}/items/${item.id}/view`)
                img.itemImage(src=`/characters/${character.id}/items/${item.id}/image` alt=item.name)

