extends ../layout/layout

block content
    h1= title
    p.legible_text= `Welcome ${character.name}  :)`
    include ../mixin/image
    +image(`/characters/${character.id}/characterImage`, `/characters/${character.id}/characterImage`)
    a.legible_text(href=`/characters/${character.id}/items/`) Inventory

