extends ../layout/layout

block content
    h1.legible_text= `${game.name}`
    audio(controls controlsList="nodownload")
        source(src=`/games/${game.id}/song`, type=game.song_extension)

    h2.legible_text Characters
    form.form-inline(action="/characters/create" method="GET")
        button="Create character"
    if(charactersOfGame.length!==0)
        ul
            each character in charactersOfGame
                li
                    a.legible_text(href=`/characters/${character.id}/view`)=character.name
    else
        div.legible_text="No characters in this game"