extends ../layout/layout

block content
    h1.legible_text= `${character.name}'s ${item.name}`
    p.legible_text= item.description
    img.itemImage(src=`/characters/${character.id}/items/${item.id}/image`)
    form#updateItem(action=`/characters/${character.id}/items/${item.id}/updateForm` method='GET')
        button(type='submit' form='updateItem')= "Let's go"