extends ../layout/layout

block content
    h1.legible_text Register
    if(games.length!==0)
        form(action="/characters/newCharacter/" method="POST" enctype="multipart/form-data")
            label(for="name") Name
            input#username(type="text" name="name")
            label(for="password") Password
            input#password(type="password" name="password")
            label(for="image") Image
            input#image(type="file" name="image")
            label(for="game")
            select#department(name="game")
                each game in games
                    option(value=game.id)=game.name
            button#submit(type="submit" name="submit") Ignition switch
    else
        ="Can't create a character without a game."
        form.form-inline(action="/games/create" method="GET")
            button="Create game"
