extends ../layout/layout

block content
    h1.legible_text New game
    form(action="/games/newGame/" method="POST" enctype="multipart/form-data")
        label(for="name") Name
        input#name(type="text" name="name")
        label(for="song") Song
        input#song(type="file" name="song")
        label(for="background") Background
        input#background(type="file" name="background")
        button#submit(type="submit" name="submit") Seems good
