extends ../layout/layout

block content
    h1.legible_text= `Create new item for ${character.name}`
    form#newItem(action=`/characters/${character.id}/items/newItem` method="POST" enctype="multipart/form-data")
        label(for="name") Name
        input#name(type="text" name="name")
        label(for="image") Image
        input#image(type="file" name="image")
        label(for="description") Description
        textarea#description(name="description")
        button#submit(type="submit" name="submit" form="newItem") We gucci

    if(items.length!==0)
        h1.legible_text= `Add existing item to ${character.name}'s inventory`
        form#addItem(action=`/characters/${character.id}/items/addItem` method="POST" enctype="multipart/form-data")
            select#item(name="item")
                each item in items
                    option(value=item.id)=item.name
            button(type="submit" name="submit" form="addItem") Nice
    else
        div.legible_text=`${character.name} has every item ever`

