extends ../layout/layout

block content
    h1.legible_text Register
    form(action="/users/login/" method="POST")
        label(for="username") Name
        input#username(type="text" name="name")
        label(for="password") Password
        input#password(type="password" name="password")
        button#submit(type="submit" name="submit") Ignition switch
