* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin-left: 5%;
  margin-top: 2%;
  position: relative;
  height: 100%; }

.legible_text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

header.page_heading {
  position: relative;
  font-size: 16px;
  background: black;
  color: yellow;
  height: 50px; }
  header.page_heading ul {
    height: 100%; }
    header.page_heading ul li {
      height: inherit;
      text-align: center;
      display: inline-block;
      width: 25%; }
      header.page_heading ul li:hover {
        background: white;
        color: black;
        transition: 1s; }
      header.page_heading ul li a {
        height: inherit;
        text-decoration: none;
        color: inherit; }
        header.page_heading ul li a div {
          height: inherit;
          line-height: 50px; }

#userImage {
  max-width: 500px;
  max-height: 500px; }

.itemImage {
  max-width: 100px;
  max-height: 100px; }

/*# sourceMappingURL=style.css.map */