extends ../layout/layout

block content
    h1.legible_text= "Character list"
    form.form-inline(action="/characters/create" method="GET")
        button="Create character"
    include ../mixin/character
    if characters.length!==0
        each character in characters
            +printCharacter(character)
    else
        .legible_text No characters
