extends ../layout/layout

block content
    h1.legible_text= "Game list"
    form.form-inline(action="/games/create" method="GET")
        button="Create game"
    include ../mixin/game
    if games.length!==0
        each game in games
            +printGame(game)
    else
        div.legible_text="No games"
