extends ../layout/layout

block content
    h1.legible_text= `${character.name}'s inventory`
    form.form-inline(action=`/characters/${character.id}/items/create` method="GET")
        button="Add item"
    include ../mixin/item
    if items.length!==0
        each item in items
            +item(item, character)
    else
        .legible_text= `Lol ${character.name} is poor`
