doctype html
html
  head
    title test
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/images/favicon.ico')
  body(style= game!=undefined ? `background-image:url(/games/${game.id}/background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;`
  : "")
    header.page_heading
      ul
        li
          a(href="/")
            div="Home"
        li
          a(href="/characters")
            div="Characters"
        li
            a(href="/games")
                div="Games"
        li
          a(href="/about")
            div="About"
    block content
