extends ../layout/layout

block content
    h1.legible_text= `Update ${character.name}'s ${item.name}`
    form#updateItem(action=`/characters/${character.id}/items/${item.id}/update` method="POST" enctype="multipart/form-data")
        label(for="name") Name
        input#name(type="text" name="name" value=item.name)
        label(for="image") Image
        input#image(type="file" name="image")
        label(for="description") Description
        textarea#description(name="description")= item.description
        button#submit(type="submit" name="submit" form="updateItem") We gucci

